body {
	font-family: $font-body;
	font-weight: 300;
	font-size: 170%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-title;
	font-weight: normal;
}


.blue {
	background: $blue;
	color: $white;
}

.teal {
	background: $teal;
	color: $white;
}

.green {
	background: $green;
	color: $dark-grey;
}

.yellow {
	background: $yellow;
	color: $darker-grey;
}

.grey {
	background: $light-grey;
	color: $darker-grey;
}