// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$blue: #1e6899;
$teal: #2aa899;
$green: #c4f152;
$yellow: #fcfe1f;
$light-grey: #9fa09b;
$dark-grey: #5c5c5c;
$darker-grey: #48454f;
$white: #fff;

$brand-primary:         #27ae60;

$font-body: "Hind Guntur", sans-serif;
$font-title: "Satisfy", serif;
$font-written: "Reenie Beanie", cursive;